server:
  port: 8091

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/powerup1
    username: root
    password: Lfpb10698123*
  jpa:
    hibernate:
      ddl-auto: update
jwt:
  secret: ${KEYSECRET_SECURITY:eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY4MzUxMDUzMCwiaWF0IjoxNjgzNTEwNTMwfQ.PQ2e3LxlyCnRkh5UFk4s1R2p5NBRm6uGN-D1G_g92ys}
  expiration: ${EXPIRE_DAYS_SECURITY:3600000}

management:
  endpoints:
    web:
      exposure:
        include: "*"

external.usermicroservice.base-url: http://localhost:8090
external.messagemicroservice.base-url: http://localhost:8092

